@import url("bootstrap.min.css");

body {
    background-color: #cccccc;
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.container > footer p { text-align: center; /* center align it with the container */ }

.content {
    background-color: #ffffff;
    -webkitborder-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    margin: 10px -15px;
}

#jlist-header {
    margin: 0 -5px;
    padding: 5px 20px 10px 20px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(1%, rgba(255,255,255,0)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
}

#jlist-items {
    margin: 0 -5px 5px -5px;
}

.jlist-item {
    background-color: #f2f2f2;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    -webkit-box-shadow: inset 1px 1px #ffffff;
    -moz-box-shadow: inset 1px 1px #ffffff;
    box-shadow: inset 1px 1px #ffffff;
    margin-top: -1px;
    padding: 7px 20px 0 20px;
}

.opac-light {
    opacity: 0.5;
}

.inline {
    display: inline-block;
}

