@import url("bootstrap.min.css");

@font-face {
    font-family: "Estrya Handwriting";
    src: url("fonts/Jellyka_Estrya_Handwriting.ttf");
}

body {
    background-color: #cccccc;
}

#banner {
    display: inline-block;
    font-family: "Estrya Handwriting", "Lucida Grande", sans-serif;
    font-size: 100px;
    margin: 8px 15px 15px 5px;
}

#banner a {
    color: #000000;
}
#banner a:hover {
    text-decoration: none;
}

footer p { text-align: center; /* center align it with the container */ }

.content {
    background-color: #ffffff;
    -webkitborder-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 5px 0 5px;
    margin: 10px -15px;
    -webkit-box-shadow: 1px 1px #848484;
    -moz-box-shadow: 1px 1px #848484;
    box-shadow: 1px 1px #848484;
}

#inner-header {
    margin: 0px 5px 0 5px;
}

.controls-bottom {
    padding-bottom: 5px;
}
.controls-bottom::before, .controls-bottom::after {
    display: table;
    content: "";
}
.controls-bottom::after {
    clear: both;
}

#header {
    margin: 0 -5px;
    padding: 5px 20px 10px 20px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(1%, rgba(255,255,255,0)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(222,222,222,1) 100%);
}

#header a {
    margin-top: 8px;
}

#jot-edit {
    margin: 10px 0;
    padding: 0 20px;
}

#jot-edit-alert {
    margin-top: 5px;
}

#admins-list {
    margin: 5px 0 15px 0;
}

#admins-list .label {
    margin-bottom: 3px;
}

#jlist-items, #jlists {
    margin: 0 -5px 5px -5px;
}

.jlist-item, .jlist {
    background-color: #f2f2f2;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    -webkit-box-shadow: inset 1px 1px #ffffff;
    -moz-box-shadow: inset 1px 1px #ffffff;
    box-shadow: inset 1px 1px #ffffff;
    margin-top: -1px;
    padding: 7px 20px 0 20px;
    cursor: pointer;
}

.jlist-item .item-description {
    padding-left: 20px;
}

i.icon-inactive {
    opacity: 0.25;
}

.opac-light {
    opacity: 0.5;
}

.inline {
    display: inline-block;
}

