@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);

@import "../components/font-awesome/css/font-awesome.min.css";

$gray_dark: #000000;
$primary_dark: #250d0d;
$primary: #4c1a19;
$primary_light: #732625;
$white: #ffffff;

body, h1, h2, h3, h4 {
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  font-size: 16px;
  font-weight: 400;
}
strong {
  font-weight: 700;
}

h1 {
  background-color: $primary_dark;
  color: $white;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}
