@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(../components/font-awesome/css/font-awesome.min.css);
/* line 11, main.scss */
body {
  font-weight: 400;
}

/* line 14, main.scss */
strong {
  font-weight: 700;
}

/* line 18, main.scss */
h1 {
  background-color: #250d0d;
  color: white;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}
/* line 26, main.scss */
h1 a, h1 a:hover {
  color: white;
  text-decoration: none;
}

/* line 32, main.scss */
h2 {
  color: #250d0d;
  margin-top: 10px;
}
/* line 35, main.scss */
h2 a, h2 a:hover {
  color: #250d0d;
  text-decoration: none;
}

/*CHECK LISTS*/
/* line 43, main.scss */
.checkLists .checkList {
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 47, main.scss */
.checkLists .checkList .checkListTitle {
  padding-left: 3px;
}

/*END CHECK LISTS*/
