@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(../components/font-awesome/css/font-awesome.min.css);
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/app\/app\/styles\/main\.scss}line{font-family:\0000311}}
body, h1, h2, h3, h4 {
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/app\/app\/styles\/main\.scss}line{font-family:\0000314}}
body {
  font-size: 16px;
  font-weight: 400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/app\/app\/styles\/main\.scss}line{font-family:\0000318}}
strong {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/app\/app\/styles\/main\.scss}line{font-family:\0000322}}
h1 {
  background-color: #250d0d;
  color: white;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/app\/app\/styles\/main\.scss}line{font-family:\0000330}}
h1 a, h1 a:hover {
  color: white;
  text-decoration: none;
}
