@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(../components/font-awesome/css/font-awesome.min.css);
/* line 5, main.scss */
body, h1, h2, h3, h4 {
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 8, main.scss */
body {
  font-size: 16px;
  font-weight: 400;
}
