DEBUG = True
TEMPLATE_DEBUG = DEBUG

if DEBUG:
    MEDIA_URL = '/devmedia/'

INTERNAL_IPS = ('127.0.0.1',)
DEBUG_TOOLBAR_CONFIG = {
    'INTERCEPT_REDIRECTS': False,
}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'dev_db',
    }
}

