import os

PROJECT_PATH = os.path.dirname(__file__)
ANGULAR_ROOT = os.path.realpath(os.path.join(PROJECT_PATH, '../../dist'))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'defb3g9paetm00',
        'USER': 'nccocygwaeqqwf',
        'PASSWORD': '643357c02f9eba04254965ea11191250d42de924a65cc2d579a4ef33974c58f4',
        'HOST': 'ec2-54-163-245-150.compute-1.amazonaws.com',
        'PORT': '5432',
    }
}
