{% extends "base.html" %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {

    $('.modal#jlist-item').modal('hide');

    // new item form open
    $('#item-new').on('click', function() {
      $('#id_slug').val('');
      $('#id_name').val('');
      $('#id_description').val('');
      $('#id_checked').removeAttr('checked');

      $('.modal#jlist-item').modal('show');
    });

    // saving an item
    $('#modal-jlist-item-save').on('click', function() {
      var data = {
        'jlist': $('#id_jlist').val(),
        'name': $('#id_name').val(),
        'description': $('#id_description').val(),
        'checked': false,
        'slug': ''
      };
      if ($('#id_slug').val() != '') {
        data['slug'] = $('#id_slug').val();
      }
      if ($('#id_checked:checked').length == 1) {
        data['checked'] = true;
      }

      if ($('#id_slug').val() == '') {
        var retval = api_sync('api/item/new', 'POST', data);
      }
      else {
        var retval = api_sync('api/item/' + $('#id_slug').val(), 'PUT', data);
      }

      if (retval['status'] == 200) {
        var slug = retval['data']['_container']['slug'];
        var item_id = retval['data']['_container']['id'];
        var existing_item = $('#jlist-items .jlist-item[id=' + item_id  + ']:first');
        $('.modal#jlist-item').modal('hide');
        if (existing_item.length == 1){
          existing_item
            .attr('data-item-slug', slug);
          existing_item.find('.item-name')
            .text(retval['data']['_container']['name']);
          existing_item.find('.item-delete')
            .attr('data-item-slug', slug);
          existing_item.find('.item-description')
            .text(retval['data']['_container']['description'].split(' ').slice(0,4).join(' ') + ' ...');
          if (retval['data']['_container']['checked'] == true) {
            existing_item.find('.item-checked').addClass('icon-flag');
          }
          else {
            existing_item.find('.item-checked').removeClass('icon-flag');
          }
        }
        else {
          var new_item = $('.jlist-item:first').clone();
          new_item
            .attr('id', item_id)
            .attr('style', 'display:none;')
            .attr('data-item-slug', slug);
          new_item.find('.item-name')
            .text(retval['data']['_container']['name']);
          new_item.find('.item-delete')
            .attr('data-item-slug', slug);
          new_item.find('.item-description')
            .text(retval['data']['_container']['description'].split(' ').slice(0,4).join(' ') + ' ...');
          if (retval['data']['_container']['checked'] == true) {
            new_item.find('.item-checked').addClass('icon-flag');
          }
          else {
            new_item.find('.item-checked').removeClass('icon-flag');
          }
          $('#jlist-items').append(new_item);
          $('#jlist-items .jlist-item:last').animate({opacity:100, height:'toggle'}, 600);
        }
      }
    });
    $('#form-item-edit').on('submit', function(e) {
      e.preventDefault();
      $('#modal-jlist-item-save').click();
      return false;
    });

    // viewing / editing an item
    $('#jlist-items').on('click', '.item-edit', function() {
      var slug = $(this).attr('data-item-slug');
      var retval = api_sync('api/item/' + slug, 'GET');
      var item = retval['data'][0];
      $('#id_jlist').val(item['jlist']['id']);
      $('#id_slug').val(item['slug']);
      $('#id_name').val(item['name']);
      $('#id_description').val(item['description']);
      if (item['checked'] == true ){
        $('#id_checked').attr('checked', 'checked');
      }
      else {
        $('#id_checked').removeAttr('checked');
      }

      $('.modal#jlist-item').modal('show');
    });

    // deleting an item
    $('#jlist-items').on('click', '.item-delete', function() {
      var slug = $(this).attr('data-item-slug');
      var retval = api_sync('api/item/' + slug, 'DELETE');
      if (retval['status'] == 204) {
        var item = $(this).parents('.jlist-item');
        item.animate({opacity:0, height:'toggle'}, 600);
        setTimeout(
          function() {
            item.detach();
          },
          1000);
      }
    });

  });
</script>
{% endblock scripts %}

{% block body %}
<h1>
  {{ jlist.name }}
  <a class="btn btn-success btn-small" id="item-new" href="#"><i class="icon-plus icon-white"></i> New Item</a>
</h1>
<br />
<div id="jlist-items">
  {% for item in jlist_items %}
  <div class="jlist-item well item-edit" id="{{ item.id }}" data-item-slug="{{ item.slug }}">
    <h4>
      <i class="item-checked {% if item.checked %}icon-flag{% endif %}"></i>
      <span class="item-name">{{ item.name }}</span>
      <a class="item-delete btn btn-danger btn-mini" data-item-slug="{{ item.slug }}" href="#"><i class="icon-remove-sign icon-white"></i></a>
    </h4>
    <p class="item-description">
      {{ item.description|truncatewords:"4" }}
    </p>
  </div>
  {% endfor %}
</div>


<div class="modal" id="jlist-item" style="display:none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Add Item</h3>
  </div>
  <div class="modal-body">
    <form action="" method="POST" id="form-item-edit">
      {% csrf_token %}
      {% for field in form %}
      <div class="form_row">
        {% if not field.is_hidden %}
        <div class="field_label">
          {{ field.label_tag }}
        </div>
        {% endif %}
        <div class="field">
          {{ field }}
        </div>
        {% if field.errors %}
        <div class="error field_error">
          {% for error in field.errors %}* {{ error }}{% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}
      {% if error %}
      <div class="error form_row">{{ error }}</div>
      {% endif %}
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary btn-large" id="modal-jlist-item-save">Save</a>
    <a class="btn btn-large" data-dismiss="modal">Cancel</a>
  </div>
</div>
{% endblock body %}
