{% extends "base.html" %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {

    $('.modal#jlist-item').modal('hide');

    // new item form open
    $('#item-new').on('click', function() {
      $('.modal#jlist-item #add-edit-text').text('New');
      $('.modal#jlist-item #item-delete').attr('data-item-slug', '').hide();
      $('#id_slug').val('');
      $('#id_name').val('');
      $('#id_description').val('');
      $('#id_checked').removeAttr('checked');

      $('.modal#jlist-item').modal('show');
    });

    $('.jlist-item').on('click', '.item-checked', function(e) {
      e.stopPropagation();
      var retval = api_sync('api/item/checked/' + $(this).attr('data-slug'), 'PUT');
      if (retval['status'] == 200) {
        $(this).toggleClass('icon-inactive');
      }
    });

    // saving an item
    $('#modal-jlist-item-save').on('click', function() {
      var data = {
        'jlist': $('#id_jlist').val(),
        'name': $('#id_name').val(),
        'description': $('#id_description').val(),
        'checked': false,
        'slug': ''
      };
      if ($('#id_slug').val() != '') {
        data['slug'] = $('#id_slug').val();
      }
      if ($('#id_checked').attr('checked') == 'checked') {
        data['checked'] = true;
      }

      if ($('#id_slug').val() == '') {
        var retval = api_sync('api/item/new', 'POST', data);
      }
      else {
        var retval = api_sync('api/item/' + $('#id_slug').val(), 'PUT', data);
      }

      if (retval['status'] == 200) {
        var slug = retval['data']['_container']['slug'];
        var item_id = retval['data']['_container']['id'];
        var existing_item = $('#jlist-items .jlist-item[id=' + item_id  + ']:first');
        $('.modal#jlist-item').modal('hide');
        if (existing_item.length == 1){
          existing_item
            .attr('data-item-slug', slug);
          existing_item.find('.item-name')
            .text(retval['data']['_container']['name']);
          var description_array = retval['data']['_container']['description'].split(' ');
          var description = description_array.slice(0,4).join(' ');
          if (description_array.length > 4) {
            description += ' ...';
          }
          existing_item.find('.item-description').text(description);
          if (retval['data']['_container']['checked'] == true) {
            existing_item.find('.item-checked').removeClass('icon-inactive');
          }
          else {
            existing_item.find('.item-checked').addClass('icon-inactive');
          }
        }
        else {
          var new_item = $('.jlist-item:first').clone();
          new_item
            .attr('id', item_id)
            .attr('style', 'display:none;')
            .attr('data-item-slug', slug);
          new_item.find('.item-name')
            .text(retval['data']['_container']['name']);
          var description_array = retval['data']['_container']['description'].split(' ');
          var description = description_array.slice(0,4).join(' ');
          if (description_array.length > 4) {
            description += ' ...';
          }
          new_item.find('.item-description').text(description);
          if (retval['data']['_container']['checked'] == true) {
            new_item.find('.item-checked').removeClass('icon-inactive');
          }
          else {
            new_item.find('.item-checked').addClass('icon-inactive');
          }
          $('#jlist-items').append(new_item);
          $('#jlist-items .jlist-item:last').animate({opacity:100, height:'toggle'}, 600);
        }
      }
    });
    $('#form-item-edit').on('submit', function(e) {
      e.preventDefault();
      $('#modal-jlist-item-save').click();
      return false;
    });

    // viewing / editing an item
    $('#jlist-items').on('click', '.item-edit', function() {
      var slug = $(this).attr('data-item-slug');
      var retval = api_sync('api/item/' + slug, 'GET');
      var item = retval['data'][0];
      // the api call doesn't include the jlist id
      //$('#id_jlist').val(item['jlist']['id']);
      $('#id_slug').val(item['slug']);
      $('#id_name').val(item['name']);
      $('#id_description').val(item['description']);
      if (item['checked'] == true ){
        $('#id_checked').attr('checked', 'checked');
        $('#form-item-checked').removeClass('icon-inactive');
      }
      else {
        $('#id_checked').removeAttr('checked');
        $('#form-item-checked').addClass('icon-inactive');
      }

      $('.modal#jlist-item #add-edit-text').text('Edit');
      $('.modal#jlist-item #item-delete').attr('data-item-slug', slug).show();

      $('.modal#jlist-item').modal('show');
    });

    $('#form-item-checked').on('click', function() {
      $('#form-item-checked').toggleClass('icon-inactive');
      if ($('#form-item-checked').hasClass('icon-inactive')) {
        $('#id_checked').removeAttr('checked');
      }
      else {
        $('#id_checked').attr('checked', 'checked');
      }
    });

    // deleting an item
    $('#item-delete').on('click', function() {
      var slug = $(this).attr('data-item-slug');
      var retval = api_sync('api/item/' + slug, 'DELETE');
      if (retval['status'] == 204) {
        var item = $('.jlist-item[data-item-slug="' + slug + '"]');
        item.animate({opacity:0, height:'toggle'}, 600);
        setTimeout(
          function() {
            item.detach();
          },
          1000);
        $('.modal#jlist-item').modal('hide');
      }
    });

  });
</script>
{% endblock scripts %}

{% block header %}
  <a class="btn btn-success btn-small pull-right" id="item-new" href="#"><i class="icon-plus icon-white"></i></a>
{% endblock header %}

{% block body %}
<div id="inner-header">
  <h2 class="inline"> {{ jlist.name }}</h1>
</div>
<div id="jlist-items">
  {% for item in jlist_items %}
  <div class="jlist-item item-edit" id="{{ item.id }}" data-item-slug="{{ item.slug }}">
    <h4>
      <i class="item-checked icon-medium-leaf {% if not item.checked %}icon-inactive{% endif %}" data-slug="{{ item.slug }}"></i>
      <span class="item-name">{{ item.name }}</span>
      <i class="item-edit-icon icon-chevron-right opac-light pull-right"></i>
    </h4>
    <p class="item-description">
      {{ item.description|truncatewords:"4" }}
    </p>
  </div>
  {% endfor %}

  <!-- an empty one for cloning -->
  <div class="jlist-item item-edit" id="" data-item-slug="" style="display:none;">
    <h4>
      <i class="item-checked icon-medium-leaf"></i>
      <span class="item-name"></span>
      <i class="item-edit-icon icon-chevron-right opac-light pull-right"></i>
    </h4>
    <p class="item-description">
    </p>
  </div>

</div>
<div class="controls-bottom">
  <a class="btn btn-small" id="jots" href="{% url jotter.account.views.index %}"><i class="icon-arrow-left"></i> Jots</a>
  <a class="btn btn-small pull-right" href="{% url jotter.jot.views.jlist_edit jlist.slug %}"><i class="icon-edit"></i> Edit Jot</a>
</div>


<div class="modal" id="jlist-item" style="display:none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><span id="add-edit-text"></span> Item</h3>
  </div>
  <div class="modal-body">
    <a class="pull-right" id="item-delete" data-item-slug="" href="#"><i class="icon-big-circle-remove"></i></a>
    <form action="" method="POST" id="form-item-edit">
      {% csrf_token %}
      {{ form.slug }}
      {{ form.jlist }}

      {{ form.checked }}

      <div>
        <i class="icon-big-leaf" id="form-item-checked"></i>
      </div>

      {{ form.name.label_tag }}
      {{ form.name }}

      {{ form.description.label_tag }}
      {{ form.description }}
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary btn-large" id="modal-jlist-item-save">Save</a>
    <a class="btn btn-large" data-dismiss="modal">Cancel</a>
  </div>
</div>
{% endblock body %}
