{% extends "base.html" %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {

    $('.jlist').on('click', function() {
      window.location = $(this).attr('data-href');
    });

  });
</script>
{% endblock scripts %}

{% block header %}
  <a class="btn btn-success btn-small pull-right" id="list-new" href="{% url jotter.jot.views.jlist_edit %}"><i class="icon-plus icon-white"></i></a>
{% endblock header %}

{% block body %}
<div id="jlists">
  {% for jlist in jlists %}
  <div class="jlist" data-href="{% url jotter.jot.views.jlist_view jlist.slug %}">
    <h4>
      <span>{{ jlist.name }}</span>
      <i class="item-edit-icon icon-chevron-right opac-light pull-right"></i>
      <a href="{% url jotter.jot.views.jlist_delete jlist.slug %}" style="display:none;"><i class="icon-remove-sign"></i></a>
      <p> </p>
    </h4>
  </div>
  {% endfor %}
</div>
{% endblock body %}
