{% extends "base.html" %}

{% block body %}
<div id="header">
  <h1>Login</h1>
</div>
<div class="row">
  <div class="span8"> {% if form.errors %}
    <div class="error"> {{ form.errors }} </div>
    {% endif %}
    <form action="{% url jotter.account.views.login %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div id="form-field-{{ field.html_name }}">
        <label for="id_{{ field.html_name }}"> {{ field.label }} </label>
        {{ field }}
        {% if field.errors %}
        <div class="error"> {% for error in field.errors %}{{ error }}{% endfor %} </div>
        {% endif %} </div>
      {% endfor %}
      <button class="btn btn-large btn-primary" type="submit">Login</button>
    </form>
  </div>
  <div class="span4"> </div>
</div>
{% endblock body %}
