<div class="row" jtr-check-list-items jtr-check-list-permissions>
  <div class="list col-sm-12 col-lg-8 col-lg-offset-2">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h3>{{ checkList.title }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <form class="form-inline" role="form" name="formCheckListSearch">
          <div class="form-group col-lg-5">
            <label class="sr-only">Search</label>
            <div ng-class="{'input-group': itemSearch}">
              <input
                class="form-control"
                type="text"
                placeholder="search"
                tabindex="10"
                ng-model="itemSearch" />
              <span class="input-group-btn" ng-show="itemSearch">
                <button class="btn btn-default"
                        type="button"
                        ng-click="itemSearch = ''"
                        >
                  <i class="fa fa-times"></i>
                </button>
                <button class="btn btn-default"
                        type="button"
                        ng-click="checkListItemEdit.title=itemSearch;saveCheckListItem()"
                        >
                  <i class="fa fa-plus"></i>
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row" ng-show="showCheckListItemEditForm">
      <div class="col-sm-12 col-lg-5 col-lg-offset-7 well well-sm">
        <p>
        Create or edit, change is good
        </p>
        <form role="form" name="formEditCheckList" ng-submit="saveCheckListItem(); showCheckListItemEditForm = false;">
          <div class="form-group col-sm-12">
            <label class="sr-only">Title</label>
            <input
              class="form-control"
              id="checkListItemEditTitle"
              type="text"
              placeholder="title"
              tabindex="20"
              ng-model="checkListItemEdit.title" />
          </div>

          <div class="form-group col-sm-12">
            <label class="sr-only">Description</label>
            <textarea
              class="form-control"
              rows="2"
              placeholder="description"
              tabindex="30"
              ng-model="checkListItemEdit.description"></textarea>
          </div>

          <div class="form-group col-sm-12">
            <div class="btn-group pull-right">
              <button
                class="btn btn-default"
                type="button"
                ng-click="cancelCheckListItemEdit()">
                <i class="fa fa-times text-danger"></i>
              </button>
              <button
                class="btn btn-default"
                type="button"
                ng-click="saveCheckListItem(); showCheckListItemEditForm = false;">
                <i class="fa fa-check text-success"></i>
              </button>
            </div>
          </div>

          <div class="clearfix"></div>
        </form>
      </div>
    </div>

    <div class="row" ng-show="showCheckListPermissionsEditForm">
      <div class="col-sm-12 col-lg-5 col-lg-offset-7 well well-sm">
        <p>
        Share this list, sharing is good
        </p>
        <form role="form" name="formEditCheckListPermissions" ng-submit="saveCheckListPermissions(); showCheckListPermissionsEditForm = false;">
          <div class="form-group col-sm-12">
            <label class="sr-only">Users</label>
            <select class="form-control"
                    id="checkListPermissionsEditUsers"
                    multiple
                    ui-select2="checkListPermissionsSelect2Options"
                    ng-model="checkListPermissions"
                    >
              <option ng-repeat="pUser in users"
                      ng-value="pUser.id"
                      ng-selected="pUser.hasPermissions"
                      data-locked="{{ pUser.locked }}"
                      >
                {{ pUser.username }}
              </option>
            </select>
          </div>

          <div class="form-group col-sm-12">
            <div class="btn-group pull-right">
              <button class="btn btn-default"
                      type="button"
                      ng-click="closeCheckListPermissionsEdit()">
                done
              </button>
            </div>
          </div>

          <div class="clearfix"></div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-6 col-lg-offset-6">
        <div class="btn-group pull-right">
          <button class="btn btn-default" type="button" ng-click="editCheckListPermissions()"><i class="fa fa-share-square-o"></i></button>
          <button class="btn btn-default" type="button" ng-click="newCheckListItem()"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="list-group">
          <div class="list-group-item well well-sm" ng-hide="checkList.check_list_items.length > 0">
            <p>
            You don't have any items in your list yet. Tap the
            <a href="" ng-click="showCheckListItemEditForm = true;"><i class="fa fa-plus"></i></a>
            to get started!
            </p>
          </div>
          <div
            class="list-group-item"
            ng-repeat="item in checkList.check_list_items | filter:itemSearch | orderBy:['-checked', 'title']"
            ng-swipe-left="showCheckListItemTools(item)"
            ng-swipe-right="hideCheckListItemTools(item)"
            >
            <div class="row">
              <div
                class="cursor-pointer"
                ng-class="{'col-xs-8 col-md-11': item.showTools, 'col-xs-12': !item.showTools}"
                ng-click="toggleCheckListItemChecked(item)">
                <span class="pull-right">
                  <i class="fa fa-check text-success" ng-show="item.checked"></i>
                  <i class="fa fa-circle-o text-muted" ng-hide="item.checked"></i>
                </span>
                <h4 class="list-group-item-heading">{{ item.title }}</h4>
                <p class="list-group-item-text text-muted" ng-show="item.description">{{ item.description }}</p>
              </div>
              <div class="col-xs-4 col-md-1" ng-show="item.showTools">
                <span class="pull-right">
                  <a href="" ng-click="editCheckListItem(item)"><i class="fa fa-edit"></i></a>
                  &nbsp;
                  <i class="fa fa-trash-o"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
